<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717803557081-kcb4kesrnbe7668furb9kd349h0ljrmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717803557081-kcb4kesrnbe7668furb9kd349h0ljrmr</string>
	<key>API_KEY</key>
	<string>AIzaSyD_tbKQx4jJriPCzP7WBzLo8-aSoDnms6M</string>
	<key>GCM_SENDER_ID</key>
	<string>717803557081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motionlaw.app</string>
	<key>PROJECT_ID</key>
	<string>newagent-a9fa0</string>
	<key>STORAGE_BUCKET</key>
	<string>newagent-a9fa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717803557081:ios:f193d79b33bbce1a1daec8</string>
	<key>DATABASE_URL</key>
	<string>https://newagent-a9fa0.firebaseio.com</string>
</dict>
</plist>